//main: ../style.less
.burger__button {
  display: none;
  @media @tablet{
    display: flex;
    justify-content: center;
    width: 33.33333%;
  }
}
.burger__icon {
  content: "";
  display: block;
  position: relative;
  width: 40px;
  height: 3px;
  background-color: @orange;
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 3px;
    background-color: @orange;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 3px;
    background-color: @orange;
  }
}
