//main: ../style.less
.choose__us {
  margin: 8rem 1.3rem;
  height: 635px;
  width: 100%;
  @media @mobile{
    margin: 3rem 0;
  }
  @media @mobile-sm{
    margin: 2rem 0;
    height: 490px;
  }
}
.choose__content {
  display: flex;
}
.collum__left {
  width: 40%;
  margin-right: 4rem;
  @media @notebook{
    margin-right: 2rem;
    width: 30%;
  }
  @media @tablet{
    display: none;
  }
}
.collum__right {
  text-align: left;
  width: 60%;
  @media @notebook{
    width: 70%;
    padding-right: 1rem;
  }
  @media @tablet{
    width: 100%;
    padding-right: 0;
  }
}
.collum__subtitle {
  font-size: 1.2rem;
  color: @blue-l;
  font-weight: 600;
  line-height: 0.889;
  margin-bottom: 1rem;
  &::before {
    content: "";
    width: 2rem;
    height: 2px;
    display: block;
    background-color: @orange;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media @mobile{
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}
.collum__tittle {
  font-size: 2.8rem;
  color: @blue-l;
  font-weight: 600;
  line-height: 1.279;
  margin-bottom: 4rem;
  @media @mobile{
    margin-bottom: 2rem;
  }
  @media @mobile-sm{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
.collum__content {
  margin-bottom: 1rem;
  &:nth-child(8) {
    margin-bottom: 0;
  }
  i {
    color: @orange;
    margin-right: 3rem;
    @media @mobile{
      margin-right: 0.6rem;
    }
    @media @mobile-sm{
      margin-right: 0.3rem;
    }
  }
  span {
    font-family: @josefin;
    font-weight: 400;
    font-size: 1.3rem;
    color: @gray-l;
    @media @mobile{
      font-size: 1rem;
    }
    @media @mobile{
      font-size: 0.6rem;
    }
  }
}
.collum__sertificate {
  width: 270px;
  height: 100px;
  background-color: @orange;
  margin-top: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @media @mobile{
    margin-top: 2rem;
  }
  @media @mobile-sm{
    width: 200px;
    height: 70px;
  }
  img {
    margin-right: 1.2rem;
    @media @mobile-sm{
      margin-right: 0.8rem;
    }
  }
  p {
    color: @white;
    font-size: 1.2rem;
    font-weight: 700;
    @media @mobile-sm{
      font-size: 1rem;
    }
  }
}
