//main: ../style.less
.intro {
  width: 100%;
  height: 800px;
  background: url(../img/intro/bg.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
}
.intro__content {
  position: relative;
  background-color: rgba(@blue, 0.1);
  height: 100%;
  padding-top: 18rem;
  @media @tablet{
    padding-top: 12rem;
  }
  @media @mobile{
    padding-top: 8rem;
  }
  @media @mobile-sm{
    padding-top: 15rem;
  }
}
.intro__subtitle {
  font-size: 1.6rem;
  color: @white;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.intro__title {
  font-size: 4.2rem;
  font-family: @nunito;
  color: @white;
  font-weight: 800;
  margin-bottom: 2rem;
  @media @mobile-sm{
    font-size: 2.5rem;
  }
}
