//main: ../style.less
.nav__menu {
  width: 70%;
  display: flex;
  justify-content: center;
  @media @tablet {
    display: none;
  }
  &--show {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    padding-left: 1rem;
    background-color: @white;
    top: 10.5rem;
    right: 0;
    align-items: center;
    z-index: 5;
  }
  &--show .nav__link{
    margin-right: 0;
    margin-bottom: 0.7rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.nav__link {
  text-decoration: none;
  color: @blue;
  margin-right: 3.9rem;
  font-family: @josefin;
  font-weight: 700;
  font-size: 1.2rem;
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: @orange;
    transition: width 0.4s linear;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
  &:last-child {
    margin-right: 0;
  }
  &--active {
    color: @orange;
  }
}
