//main: ../style.less
.project__header {
  padding: 0 20rem;
  @media @tablet{
    padding: 0 10rem;
  }
  @media @mobile{
    padding: 0 4rem;
  }
  @media @mobile-sm{
    padding: 0 1rem;
  }
  h2 {
    font-size: 3rem;
    color: @gray;
    font-weight: 700;
    line-height: 0.372;
    margin-bottom: 3rem;
    @media @mobile-sm{
      margin-bottom: 1.5rem;
      font-size: 1.9rem;
    }
  }
  p {
    font-size: 1.2rem;
    font-family: @josefin;
    color: @gray-l;
    line-height: 1.333;
    font-weight: 400;
    &::after {
      content: "";
      display: block;
      width: 4rem;
      height: 2px;
      background-color: @orange;
      margin: 1rem auto;
    }
  }
}
.link__active {
  padding: 1rem 0.8rem;
  border-radius: 5px;
  background-color: @orange;
  color: @white;
}
.project__links {
  margin-top: 2rem;
  @media @mobile{
    margin-top: 1rem;
  }
  a {
    margin-right: 1.5rem;
    text-decoration: none;
    font-family: @josefin;
    font-weight: 600;
    font-size: 1.2rem;
    color: @gray-l;
    @media @mobile{
      font-size: 1rem;
      margin-right: 0.9rem;
    }
    @media @mobile-sm{
      font-size: 0.8rem;
      margin-right: 0.6rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.project__contrent{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    @media @mobile{
      margin-top: 1rem;
    }
}
.project__img{
    width: 30%;
    padding: 1rem;
    @media @mobile{
      width: 33%;
      padding: 0.2rem;
    }
}
